<app-appbar></app-appbar>
<router-outlet></router-outlet>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{movie["original_title"]}}</mat-card-title>
        <mat-card-subtitle>{{movie["title"]}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='{{movie["background"]}}' alt="movie image">
    <mat-card-content>
        <img class="thu" src="{{movie['img']}}" alt="">
        <p>
            {{movie["overview"]}}
        </p>
    </mat-card-content>
    <mat-card-content>
        <span>Elenco</span>
    </mat-card-content>
    <mat-card-content class="pseudoinifite-horizontal" id="elenco">
        <div class="actorcontainer">
            <div class="actor" title="{{actor.name}}" style="background-image: url({{imagebaseactor}}{{actor.profile_path}})" *ngFor="let actor of actors"></div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goBack()">volver</button>
    </mat-card-actions>
</mat-card>