mat-card {
    margin: 40px;
}

mat-card mat-card-content img {
    display: inline-block;
    width: 10%;
}

mat-card mat-card-content p {
    display: inline-block;
    margin-left: 20px;
    width: calc(90% - 20px);
}

.pseudoinifite-horizontal {
    height: 35%;
    overflow-x: auto;
    width: 100%;
}

.pseudoinifite-horizontal .actorcontainer {
    height: 170px;
    width: max-content;
}

.actor {
    height: 150px;
    width: 100px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 10px;
    text-align: left;
}