<mat-toolbar>
    <span>AgileMovies</span>
    <span class="example-spacer"></span>
    <span>Bienvenido(a)</span>&nbsp;&nbsp;
    <span [textContent]="name"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="verified icon">verified_user</mat-icon>
    <button (click)="logout()">Cerrar sesión</button>
</mat-toolbar>