<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form [formGroup]='formLogin' class="agilelogin-form">
            <mat-card-content>
                <mat-form-field class="agilelogin-full-width">
                    <input formControlName="user" matInput placeholder="Username">
                </mat-form-field>

                <mat-form-field class="agilelogin-full-width">
                    <input formControlName="pass" type="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>
        </form>
        <button (click)="login()" [disabled]=!formLogin.valid mat-stroked-button color="accent" class="btn-block ">Log in</button>
    </mat-card>

</div>