<app-appbar></app-appbar>
<h1 class="title01">Peliculas estreno</h1>
<div class="inifite-horizontal" id="ihorizontal">
    <div class="hinf" infiniteScroll [infiniteScrollDistance]="2" [horizontal]="true" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="'#ihorizontal'" [fromRoot]="true" (scrolled)="onScrollH()">
        <!-- <mat-card class="example-card" *ngFor="let movie of premieremovies; index as i" (click)="goToPage(movie)">
            <mat-card-header>
                <mat-card-title>{{movie.original_title}}</mat-card-title>
                <mat-card-subtitle>{{movie.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{imagebase}}{{movie.poster_path}}" alt="movie image">
        </mat-card> -->
        <div class="imagefilm" (click)="goToPage(movie)" *ngFor="let movie of premieremovies" style="background-image: url({{imagebase}}{{movie.poster_path}});">

        </div>
    </div>
</div>

<h1 class="title02">Peliculas más populares</h1>
<div class="inifite-vertical" id="ivertical">
    <div class="" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="'#ivertical'" [fromRoot]="true" (scrolled)="onScroll()">
        <mat-card class="example-card" *ngFor="let movie of movies; index as i" (click)="goToPage(movie)">
            <mat-card-header>
                <mat-card-title>{{movie.original_title}}</mat-card-title>
                <mat-card-subtitle>{{movie.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{imagebase}}{{movie.poster_path}}" alt="movie image">
        </mat-card>
    </div>
</div>

<router-outlet></router-outlet>