.inifite-vertical {
    height: 40%;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-align: center;
}

mat-card {
    width: 200px;
    display: inline-block;
    margin: 10px;
    text-align: left;
    font-size: small;
}

.imagefilm {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 10px;
    text-align: left;
    font-size: small;
}

.imagefilm:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px black;
}

.mat-card-header-text {
    width: 100% !important;
}

.inifite-horizontal {
    height: 35%;
    overflow-x: auto;
    position: absolute;
    bottom: 50%;
    width: 100%;
}

.inifite-horizontal .hinf {
    height: 200px;
    width: max-content;
}

.inifite-horizontal .hinf mat-card {
    width: 150px;
    display: inline-block;
    margin: 10px;
    text-align: left;
    height: 200px;
}

.title01 {
    position: absolute;
    bottom: calc(85% + 5px);
    left: 15px;
}

.title02 {
    position: absolute;
    bottom: calc(40% + 5px);
    left: 15px;
}